/**
 * Custom style for Rhodycast App
 */

/**
 * Need to set padding for the body so content flows beneath the navbar
 */
body {
    padding-top: 50px;
    padding-right: 0px !important
}

/**
 * Custom navbar theming
 */
.navbar {
    background-color: #0D9EFF; /* background color will be blue for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    border: #0D9EFF;
    filter: none;
    padding-bottom: 0;
}

.navbar .navbar-brand {
    color: #FFFFFF;
}

.navbar .navbar-brand:hover {
    color: #00399C;
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .nav > li > a:hover {
    color: #00399C;
}

.navbar .nav > li > a:active {
    color: #00399C;
}

/**
 * Table formatting
 */
.table tbody>tr>td.vertical-align{
    vertical-align: middle;
}

.table tbody>tr>td.time-col{
    width: 8%;
}

/**
 * Google Maps
 */
#map {
    height: 30vh;
}

/**
 * Charts
 */
#waveHeightChart {
    height: 30vh;
    margin-top: 20px;
}

/** 
 * Location Header row
 */
.header-row {
    background-color: #F2F2F2;
    margin-bottom: 10px;
}