{{ define "content" }}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpn6WRpxlXXEGijPqbk-eVaRe08_hvvHg&callback=initMap"async defer></script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Rhode Island</h1>
            <h4>NOAA WaveWatch III: {{ .ModelDescription }}</h4>
            <h5>{{ .ModelRun }}</h5>
            <h5>Coordinates: {{ ToFixedPoint .AdjustedLatitude 2 }}&deg; N, {{ ToFixedPoint .AdjustedLongitude 2 }}&deg; E</h5>
        </div>
        <div class="col-lg-12">
            <div id="waveHeightChart">
            </div>
        </div>
        <div class="col-lg-12">
            {{ range $index, $forecastItem := .ForecastData }}
                {{ if eq $index 0 }}
                    <h2>{{ $forecastItem.Date }}</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th class="time-col">Time</th>
                                <th>Wave Height</th>
                                <th>Wind</th>
                                <!-- <th>Swell</th> -->
                                <th>Primary Swell Component</th>
                                <th>Secondary Swell Component</th>
                                <th>Wind Swell Component</th>
                            </tr>
                {{ else if eq $forecastItem.Time "00z" }}
                    <h2>{{ $forecastItem.Date }}</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th class="time-col">Time</th>
                                <th>Wave Height</th>
                                <th>Wind</th>
                                <!-- <th>Swell</th> -->
                                <th>Primary Swell Component</th>
                                <th>Secondary Swell Component</th>
                                <th>Wind Swell Component</th>
                            </tr>
                {{ end }}

                <tr>
                    <td class="vertical-align time-col">
                        <h4>{{ ToTwelveHourFormat $forecastItem.Time }}</h4>
                    </td>
                    <td class="vertical-align">
                        <h4>{{ ToFixedPoint $forecastItem.MinimumBreakingHeight 2 }} - {{ ToFixedPoint $forecastItem.MaximumBreakingHeight 2 }} ft</h4>
                    </td>
                    <td class="vertical-align">
                        <h4>{{ ToFixedPoint $forecastItem.SurfaceWindDirection 2 }}&deg; {{ ToFixedPoint $forecastItem.SurfaceWindSpeed 2 }} mph</h4>
                    </td>
<!--                     <td class="vertical-align">
                        {{ ToFixedPoint $forecastItem.SignificantWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.MeanWavePeriod 2 }} s {{ ToFixedPoint $forecastItem.DominantWaveDirection 2 }}&deg;
                    </td> -->
                    <td class="vertical-align">
                        {{ if lt $forecastItem.PrimarySwellWaveHeight 1000.0 }}
                            {{ ToFixedPoint $forecastItem.PrimarySwellWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.PrimarySwellPeriod 2 }} s {{ ToFixedPoint $forecastItem.PrimarySwellDirection 2 }}&deg;
                        {{ else }}
                            No Primary Swell Data
                        {{ end }}
                    </td>
                    <td class="vertical-align">
                        {{ if lt $forecastItem.SecondarySwellWaveHeight 1000.0 }}
                            {{ ToFixedPoint $forecastItem.SecondarySwellWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.SecondarySwellPeriod 2 }} s {{ ToFixedPoint $forecastItem.SecondarySwellDirection 2 }}&deg;
                        {{ else }}
                            No Secondary Swell Data
                        {{ end }}
                    </td>
                    <td class="vertical-align">
                        {{ if lt $forecastItem.WindSwellWaveHeight 1000.0 }}
                            {{ ToFixedPoint $forecastItem.WindSwellWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.WindSwellPeriod 2 }} s {{ ToFixedPoint $forecastItem.WindSwellDirection 2 }}&deg;
                        {{ else }}
                            No Wind Swell Data
                        {{ end }}
                    </td>
                </tr>

                {{ if eq $forecastItem.Time "21z" }}
                        </table>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}