{{ define "content" }}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 header-row">
            <div class="container">
                <h1>Rhode Island</h1>
                <h5>NOAA WaveWatch III: {{ .WaveModel.Description }}</h4>
                <h5>{{ .WaveModel.ModelRun }}</h5>
                <h5>Location: <a href="http://google.com/maps/place/{{ ToFixedPoint .AdjustedLatitude 5 }},{{ ToFixedPoint .AdjustedLongitude 5 }}/@{{ ToFixedPoint .AdjustedLatitude 5 }},{{ ToFixedPoint .AdjustedLongitude 5 }},13z">{{ .LocationName }} ({{ ToFixedPoint .AdjustedLatitude 2 }}&deg; N, {{ ToFixedPoint .AdjustedLongitude 2 }}&deg; E)</a></h5>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="container">
                <div id="waveHeightChart">
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="container">
            {{ range $index, $forecastItem := .ForecastData }}
                {{ if eq $index 0 }}
                    <h2>{{ $forecastItem.Date }}</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th class="time-col">Time</th>
                                <th>Wave Height</th>
                                <th>Wind</th>
                                <th>Primary Swell Component</th>
                                <th>Secondary Swell Component</th>
                                <th>Tertiary Swell Component</th>
                            </tr>
                {{ else if eq $forecastItem.Time "01 AM" }}
                    <h2>{{ $forecastItem.Date }}</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th class="time-col">Time</th>
                                <th>Wave Height</th>
                                <th>Wind</th>
                                <th>Primary Swell Component</th>
                                <th>Secondary Swell Component</th>
                                <th>Tertiary Swell Component</th>
                            </tr>
                {{ else if eq $forecastItem.Time "02 AM" }}
                    <h2>{{ $forecastItem.Date }}</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th class="time-col">Time</th>
                                <th>Wave Height</th>
                                <th>Wind</th>
                                <th>Primary Swell Component</th>
                                <th>Secondary Swell Component</th>
                                <th>Tertiary Swell Component</th>
                            </tr>
                {{ end }}

                <tr>
                    <td class="vertical-align time-col">
                        <h4>{{ $forecastItem.Time }}</h4>
                    </td>
                    <td class="vertical-align">
                        <h4>{{ ToFixedPoint $forecastItem.MinimumBreakingHeight 2 }} - {{ ToFixedPoint $forecastItem.MaximumBreakingHeight 2 }} ft</h4>
                    </td>
                    <td class="vertical-align">
                        <h4>{{ $forecastItem.WindCompassDirection }} {{ ToFixedPoint $forecastItem.WindSpeed 2 }} mph</h4>
                    </td> 
                    <td class="vertical-align">
                        {{ if $forecastItem.PrimarySwellComponent.IsValid }}
                            {{ ToFixedPoint $forecastItem.PrimarySwellComponent.WaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.PrimarySwellComponent.Period 2 }} s {{ ToFixedPoint $forecastItem.PrimarySwellComponent.Direction 2 }}&deg;
                        {{ else }}
                            No Primary Swell Component
                        {{ end }}
                    </td>
                    <td class="vertical-align">
                        {{ if $forecastItem.SecondarySwellComponent.IsValid }}
                            {{ ToFixedPoint $forecastItem.SecondarySwellComponent.WaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.SecondarySwellComponent.Period 2 }} s {{ ToFixedPoint $forecastItem.SecondarySwellComponent.Direction 2 }}&deg;
                        {{ else }}
                            No Secondary Swell Component
                        {{ end }}
                    </td>
                    <td class="vertical-align">
                        {{ if $forecastItem.TertiarySwellComponent.IsValid }}
                            {{ ToFixedPoint $forecastItem.TertiarySwellComponent.WaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.TertiarySwellComponent.Period 2 }} s {{ ToFixedPoint $forecastItem.TertiarySwellComponent.Direction 2 }}&deg;
                        {{ else }}
                            No Tertiary Swell Component
                        {{ end }}
                    </td>
                </tr>

                {{ if eq $forecastItem.Time "10 PM" }}
                        </table>
                    </div>
                {{ else if eq $forecastItem.Time "11 PM" }}
                        </table>
                    </div>
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}