{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{ range $index, $forecastItem := .ForecastData }}
                {{ if eq $index 0 }}
                    <h1>{{ $forecastItem.Date }}</h1>
                    <div class="table-responsive">
                        <table class="table">
                {{ else if eq $forecastItem.Time "00z" }}
                    <h1>{{ $forecastItem.Date }}</h1>
                    <div class="table-responsive">
                        <table class="table">
                {{ end }}

                <tr class="text-center">
                    <td class="vertical-align">
                        <h4>{{ ToTwelveHourFormat $forecastItem.Time }}</h4>
                    </td>
                    <td class="vertical-align">
                        {{ $standardWaveHeight := MetersToFeet $forecastItem.SignificantWaveHeight }}
                        <h3>{{ ToFixedPoint $standardWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.MeanWavePeriod 2 }} {{ ToFixedPoint $forecastItem.DominantWaveDirection 2 }} &deg;</h3>
                    </td>
                    <td class="vertical-align">
                        {{ $windWaveHeight := MetersToFeet $forecastItem.WindSwellWaveHeight }}
                        {{ if lt $windWaveHeight 1000.0 }}
                            <h5>{{ ToFixedPoint $windWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.WindSwellPeriod 2 }} s {{ ToFixedPoint $forecastItem.WindSwellDirection 2 }} &deg;</h5>
                        {{ else }}
                            No Wind Swell Data
                        {{ end }}
                    </td>
                    <td class="vertical-align">
                        {{ $primaryWaveHeight := MetersToFeet $forecastItem.PrimarySwellWaveHeight }}
                        {{ if lt $primaryWaveHeight 1000.0 }}
                            <h5>{{ ToFixedPoint $primaryWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.PrimarySwellPeriod 2 }} s {{ ToFixedPoint $forecastItem.PrimarySwellDirection 2 }} &deg;</h5>
                        {{ else }}
                            No Primary Swell Data
                        {{ end }}
                    </td>
                    <td class="vertical-align">
                        {{ $secondaryWaveHeight := MetersToFeet $forecastItem.SecondarySwellWaveHeight }}
                        {{ if lt $secondaryWaveHeight 1000.0 }}
                            <h5>{{ ToFixedPoint $secondaryWaveHeight 2 }} ft @ {{ ToFixedPoint $forecastItem.SecondarySwellPeriod 2 }} s {{ ToFixedPoint $forecastItem.SecondarySwellDirection 2 }} &deg;</h5>
                        {{ else }}
                            No Swecondary Swell Data
                        {{ end }}
                    </td>
                </tr>

                {{ if eq $forecastItem.Time "21z" }}
                        </table>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}